{% extends 'base.html' %}

{% block title %}Hello World!{% endblock %}

{% block content %}
<img src="./static/logo.png" style="heigh: 200px; width: 200px;">

<h1 class="roboto-bold">Hello World!</h1>
<p>
    This website is an example of how website can be build with Flask.
    <br>
    Use menu in top to see how it act.
</p>
<!--
<form action="greet" method="post">
    <br>
    <input type="text" name="name_input">
    <br>
    <input type="submit" value="GREET" id="greet">
</form>-->
{% endblock %}